body
  padding-top 61px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px

  h6
    color #00cc00
footer
  padding-left 15x
  padding-right 15px
  p
    border-top 2px solid #000fff
.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px


