.container
    .jumbotron
        h1 MultiVision
        p Welcome to MultiVision! This is a complete page using the MEAN stack
    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")